$primary:       #094151;
$control-grey: #DFE6E8;

$theme-colors: (
    "primary": $primary,
    "control-grey": $control-grey,
    "warning": #ffc107,
    "light-grey": #f6f6f6
);

// $utilities: (
//     "rounded": (
//         property: border-radius,
//         class: rounded,
//         values: (
//             4: 10px,
//         )
//     ),
// );

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,500;0,600;1,700&display=swap');

@import "../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/bootstrap5.css";

body {
    background: #ECEFF0;
}

header {
    background: #f8f8f8 !important;
}

.form-select {
    font-size: 0.8em;
    height: 32px;
}

.control-grey {
    background: $control-grey  !important;
}

.e-multi-select-wrapper {
    background-color: $control-grey;
}

.date-tag {
    pointer-events: none;
}

.DateRangePicker_1 .DayPicker_transitionContainer {
    border: 1px solid #666;
}

.DateRangePickerInput_1 {
    background-color: $control-grey !important;
    border: none !important;
    height: 30px !important;
    border-radius: 6px;
}

.DateInput_input {
    font-size: 0.8em;
}

.DateInput_input__small {
    font-size: 1rem !important;
}

.DateRangePickerInput__withBorder {
    border-radius: 6px !important;
}

.DateInput_input, .DateInput {
    background: transparent !important;
}

.DateInput_input__focused {
    border-bottom: 2px solid $primary !important;
}

.CalendarDay__selected_span {
    background: $primary !important; 
    border: 1px solid $primary !important; 
}
  
.CalendarDay__selected {
    background: $primary !important;
    border: 1px solid $primary !important;
    color: white;
}

.noUi-target {
    background: $control-grey !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 10px !important;
}

.noUi-horizontal {
    height: 100% !important;
}

.noUi-horizontal .noUi-handle {
    min-height:25px;
    height: 100% !important;
    top: 3px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    background: $primary !important;
    cursor: pointer !important;
    border: none !important;
}

.noUi-handle:before, .noUi-handle:after {
    height: 10px !important;
    top: 7px !important;
}

.noUi-pips-horizontal {
    top: 0 !important;
}

.noUi-value {
    display: none;
}

.noUi-marker:first-child, .noUi-marker:nth-last-child(2) {
    display:none !important;
}

.noUi-connect {
    background: $primary !important;
    opacity: 0.4;
}